@charset "UTF-8";
/*---------------------principal--------------------*/
/*Navbar--------------------------------------*/
.container-navbar {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-style: italic; }

.navbar {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-purple-blue-simple-gradient-background-image_16162.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-brand {
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  font-style: italic; }

.navbar-collapse {
  text-align: center;
  color: #ffffff; }

.alert {
  color: white;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-purple-blue-simple-gradient-background-image_16162.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/*----------------------Body-------------------*/
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkjoVXT6XGQk1Jlp3FBd8BWatNMzh4Uf_UVw&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover; }

.jumbotron {
  text-align: center; }

/*Footer*/
footer {
  color: black; }

/*--------------------página principal----------*/
.card-hotel {
  margin-top: 20px;
  margin-bottom: 0px;
  flex: 1 300px; }

.btn-MI {
  width: 100%; }

#funciona {
  color: white; }

#reserva {
  color: white; }

#pago {
  color: white; }

.carousel-img {
  width: 100%;
  height: 500px;
  margin-top: 0px;
  margin-bottom: 20px; }

/*--------------------------Pagina Nosotros-----------------------*/
.about {
  color: white; }

/*--------------------------Pagina Precios-----------------------*/
.tab-content {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.tab-pane {
  text-align: center; }

/*--------------------------Pagina Terminos y Condiciones-----------------------*/
